version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    cooldown:
      default-days: 14
    groups:
      # Name is used for branch name and pull request title
      github-actions:
        patterns:
          # Create a single pull request for all actions
          - '*'

  - package-ecosystem: 'npm'
    directories:
      - '**/*'
    schedule:
      interval: 'monthly'
    cooldown:
      default-days: 14
    groups:
      # Name is used for branch name and pull request title
      npm:
        patterns:
          # Create a single pull request for all dependencies
          - '*'
