/node_modules

# Output directories of compiled TypeScript files
/extension/background-scripts
/extension/pages/*.js
/extension/pages/*.js.map

# Polyfill for Chrome support; automatically copied during build
/extension/web-ext-polyfill/browser-polyfill.js

# Generated extension artifact
/web-ext-artifacts
