# npm configuration file, see https://docs.npmjs.com/cli/v11/configuring-npm/npmrc

# Save exact dependency versions instead of SemVer ranges (`^1.2.3`)
# This makes it clearer which version is actually being used (without having to look into `package-lock.json`)
save-exact = true
