# npm configuration file, see https://docs.npmjs.com/cli/v11/configuring-npm/npmrc

# This file is duplicated here from the one in the repository root because this here is
# a separate npm project and not part of the workspace

# Save exact dependency versions instead of SemVer ranges (`^1.2.3`)
# This makes it clearer which version is actually being used (without having to look into `package-lock.json`)
save-exact = true

# Cooldown for installing new dependency versions
# This is specified in addition to Dependabot config to also prevent installing
# too new releases manually
min-release-age=14
