name: Build extension
on:
  push:
    branches-ignore:
      # Ignore Dependabot branches because it will also open a pull request, which would cause the
      # workflow to redundantly run twice
      - dependabot/**
  pull_request:
  # Support manually running workflow, in which case the web-extension artifact is uploaded (see below)
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install dependencies
        run: npm clean-install
      - name: Lint
        run: npm run lint
      - name: Package
        run: npm run package
      # Lint after building package to first compile all files
      - name: Lint extension
        run: npm run lint-web-ext

      - name: Upload extension artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        # Only upload artifact if workflow was manually triggered
        if: github.event_name == 'workflow_dispatch'
        with:
          name: web-extension
          path: ./web-ext-artifacts/known_sites*.zip
          if-no-files-found: error
